<!-- Footer -->
<footer id="footer">

    <ul class="icons">
      <li><a href="mailto:chiyabookfest@gmail.com" class="icon circle fa-envelope-o"><span class="label">Email</span></a></li>
      <li><a href="https://twitter.com/chiyabookfest" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/chiyabookfest/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/chiyabookfest/" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>

    <ul class="copyright">
      <li><a href="/conduct/">Code of Conduct</a></li>
    </ul>

</footer>
