<header id="header">
	<h1 id="logo"><a href="/">Chicago Young Adult Book Festival</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li class="submenu">
				<a href="" class="button special">Festival</a>
				<ul>
					<li><a href="/authors/">Authors</a></li>
					<li><a href="/flyer/">Flyer</a></li>
					<li><a href="/food/">Food</a></li>
					<li><a href="/schedule/">Schedule</a></li>
					<li><a href="/venue/">Venue</a></li>
					<li><a class="button special" target="_blank" href="https://cyaf.brownpapertickets.com">Tickets</a></li>
				</ul>
			</li>
			<li><a href="/news/">News</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</nav>
</header>
